<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.look.house.repository.BoardRepository">

    <insert id="boardSave">
        INSERT into board(title,content,create_time,writer,commentCount)
        VALUES (#{title},#{content},#{createTime} ,#{writer},#{commentCount})
    </insert>

    <select id="findOne" resultType="Board">
        SELECT * from board where board_id = #{id}

    </select>

    <update id="boardUpdate">
        UPDATE board set title=#{board.title},content=#{board.content} where board_id =#{id}
    </update>

    <delete id="boardDelete">
        DELETE from board where board_id=#{id}
    </delete>

    <select id="findAll" resultType="Board">
        SELECT * FROM board
    </select>

    <!-- 게시글 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals( searchType )">
                            AND title LIKE "%${keyword}%"
                        </when>
                        <when test="'content'.equals( searchType )">
                            AND content LIKE "%${keyword}%"
                        </when>
                        <when test="'writer'.equals( searchType )">
                            AND writer LIKE "%${keyword}%"
                        </when>
                    </choose>
                </when>

                <!-- 전체 검색일 때 -->
                <otherwise>
                    AND (
                    title LIKE "%${keyword}%"
                    OR content LIKE "%${keyword}%"
                    OR writer LIKE "%${keyword}%"
                    )
                </otherwise>
            </choose>
        </if>
    </sql>
  <!--    페이징-->
    <select id="countAll" resultType="integer">
        select count(*)
        from board
        <where>
            <include refid="search"></include>
        </where>
    </select>


    <select id="findAll1" resultType="Board">
        select *
        from board
        <where>
                <!-- 검색 키워드가 있을 때 -->
                <if test="searchDTO.keyword != null and searchDTO.keyword != ''">
                    <choose>
                        <!-- 검색 유형이 있을 때 -->
                        <when test="searchDTO.searchType != null and searchDTO.searchType != ''">
                            <choose>
                                <when test="'title'.equals( searchDTO.searchType )">
                                    AND title LIKE "%$searchDTO.{keyword}%"
                                </when>
                                <when test="'content'.equals( searchDTO.searchType )">
                                    AND content LIKE "%${searchDTO.keyword}%"
                                </when>
                                <when test="'writer'.equals( searchDTO.searchType )">
                                    AND writer LIKE "%${searchDTO.keyword}%"
                                </when>
                            </choose>
                        </when>

                        <!-- 전체 검색일 때 -->
                        <otherwise>
                            AND (
                            title LIKE "%${searchDTO.keyword}%"
                            OR content LIKE "%${searchDTO.keyword}%"
                            OR writer LIKE "%${searchDTO.keyword}%"
                            )
                        </otherwise>
                    </choose>
                </if>
        </where>
        Order by board_id desc
        LIMIT #{pagination.limitStart}, #{pagination.recordSize}
    </select>
  
    <update id="boardCommentCount">
        update board set commentCount = commentCount + 1 where board_id = #{id}
    </update>

    <update id="updateCommentCount">
        <choose>
            <when test="type == 'add'">
                update board set commentCount = commentCount + 1 where board_id = #{id}
            </when>
            <when test="type == 'delete'">
                update board set commentCount = commentCount - 1 where board_id = #{id}
            </when>
        </choose>
    </update>

</mapper>