<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.look.house.repository.BoardRepository">

    <insert id="boardSave">
        INSERT into board(title,content,create_time,writer,commentCount,heartCount)
        VALUES (#{title},#{content},#{createTime} ,#{writer},#{commentCount},#{heartCount})
    </insert>

    <select id="findOne" resultType="Board">
        SELECT * from board where board_id = #{id}

    </select>

    <update id="boardUpdate">
        UPDATE board set title=#{board.title},content=#{board.content} where board_id =#{id}
    </update>

    <delete id="boardDelete">
        DELETE from board where board_id=#{id}
    </delete>

    <select id="findAll" resultType="Board">
        SELECT * FROM board
    </select>
  <!--    페이징-->
    <select id="countAll" resultType="integer">
        select count(*) from board
    </select>
    <select id="findPageRecord" resultType="Board">
        select * from board Order by create_time desc LIMIT #{firstIndex} ,#{recordCountPerPage}
    </select>
  
    <update id="boardCommentCount">
        update board set commentCount = commentCount + 1 where board_id = #{id}
    </update>

    <update id="updateCommentCount">
        <choose>
            <when test="type == 'add'">
                update board set commentCount = commentCount + 1 where board_id = #{id}
            </when>
            <when test="type == 'delete'">
                update board set commentCount = commentCount - 1 where board_id = #{id}
            </when>
        </choose>
    </update>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <update id="updateHeartCount">
        <choose>
            <when test="type == 'heartAdd'">
                UPDATE board set heartCount = heartCount +1 where board_id =#{id}
            </when>
            <when test="type == 'heartDelete'">
                UPDATE board set heartCount = heartCount -1 where board_id =#{id}
            </when>
        </choose>
    </update>
    
    
    <select id="findMyBoard" resultType="board">
        select * from board where writer = #{writer}
    </select>
    
    
    
    
    
    
</mapper>