<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.look.house.repository.BoardRepository">

    <insert id="boardSave">
        INSERT into board(title,content,create_time,writer,commentCount,heartCount,cate_id)
        VALUES (#{title},#{content},#{createTime} ,#{writer},#{commentCount},#{heartCount},#{cateId})
    </insert>

    <select id="findOne" resultType="Board">
        SELECT * from board where board_id = #{id}

    </select>

    <update id="boardUpdate">
        UPDATE board set title=#{board.title},content=#{board.content} ,cate_id = #{cateId} where board_id =#{id}
    </update>

    <delete id="boardDelete">
        DELETE from board where board_id=#{id}
    </delete>


<!--검색 조건 -->
    <sql id="criteria">
        <if test="cateId!=0">
            cate_id = ${cateId}
        </if>
        <trim prefix=" AND (" suffix=")" prefixOverrides="OR" >
            <foreach item="type" collection ="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like concat ('%',#{keyword},'%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content like concat ('%',#{keyword},'%')
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like concat ('%',#{keyword},'%')
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
    <select id="findList" resultType="board">
        select *
        from board
        <where>
            <include refid="criteria"></include>
        </where>
        order by board_id desc
        limit #{skip} , #{amount}
    </select>

    <select id="findCount" resultType="int">
        select count(*) from board
        <where>
            <include refid="criteria"></include>
        </where>

    </select>


    <update id="updateCommentCount">
        <choose>
            <when test="type == 'add'">
                update board set commentCount = commentCount + 1 where board_id = #{id}
            </when>
            <when test="type == 'delete'">
                update board set commentCount = commentCount - 1 where board_id = #{id}
            </when>
        </choose>
    </update>

    <update id="updateHeartCount">
        <choose>
            <when test="type == 'heartAdd'">
                UPDATE board set heartCount = heartCount +1 where board_id =#{id}
            </when>
            <when test="type == 'heartDelete'">
                UPDATE board set heartCount = heartCount -1 where board_id =#{id}
            </when>
        </choose>
    </update>

    <select id="findMyBoard" resultType="board">
        select * from board where writer = #{writer}
    </select>
</mapper>